<?php
//     return [
//         'payline' => [
//             'version'        => "3",
//             'contractNumber' => '',
//             'merchant_id'    => '',
//             'access_key'     => '',
//             'proxy_host'     => '',
//             'proxy_port'     => '',
//             'proxy_login'    => '',
//             'proxy_password' => '',
//             'production'     => ''
//         ]
//     ];
